<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h1 {
        font-style: italic;
        padding: 8px 20px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1),
          0 2px 5px 0 rgba(0, 0, 0, 0.2);
        text-shadow: 2px 2px 2px gray;
        background: linear-gradient(to right, skyblue, white);
      }
    </style>
  </head>
  <body>
    <h1>{{id}}님 환영합니다</h1>
  </body>
</html>
